body {
    font-family: Arial;
    background-color: #D6C0B3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #336633;
    padding: 25px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

h2 {
    color: white;
    margin-bottom: 20px;
}

label {
    color: white;
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 35%;
}

button:hover {
    background-color: #444;
}
