* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #121a26;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #121a26;
    border-bottom: 2px solid #00408e;
}

.logo img {
    height: 50px;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.nav-links a:hover {
    color: #1da1f2;
}

.nav-search {
    display: flex;
    align-items: center;
}

.nav-search input {
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
}

.nav-search button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #00408e;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.nav-actions {
    display: flex;
    align-items: center;
}

.nav-actions .btn-id, .nav-actions .btn-masuk, .nav-actions .btn-daftar {
    margin-left: 10px;
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
}

.nav-actions .btn-id {
    background-color: #121a26;
    border: 2px solid #00408e;
    color: #fff;
}

.nav-actions .btn-masuk {
    background-color: #121a26;
    color: #fff;
    border: 2px solid #00408e;
}

.nav-actions .btn-daftar {
    background-color: #1da1f2;
    color: #fff;
    border: none;
}
